body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App {
  text-align: center;
  height: 100vh;
  width: auto;
  background-color: #EFFAFD;
}

.submitButton {
  background-color: #00ABE4 !important;
  border-color: #00ABE4 !important;
  text-align: center !important;
}

.submitButton:hover {
  background-color: #019bce !important;
  border-color: #019bce !important;
}

.cancelButton {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.cancelButton:hover {
  background-color: #bb2d3b !important;
  border-color: #bb2d3b !important;
}

a{
  text-decoration: none !important;
  color: #6c8080 !important;
}

a:hover{
  color: #00ABE4 !important;
  cursor: pointer !important;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="email"]:focus, input[type="checkbox"]:focus, .form-select:focus{
  outline: 0;
  box-shadow: 0px 0px 0.25rem #EFFAFD !important;
}
